// mat-drawer.mat-drawer {
  // background-color: #2d323e;
  // box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .35);
// }

.mat-drawer-content {
  overflow: hidden !important;
}

.mat-mdc-menu-content {
  overflow: hidden !important;
}

.mat-mdc-menu-panel {
  border: 1px solid #ebebeb;
}
